# =========================================================================
# KONFIGURASI MONGODB - SISTEM MONITORING SATWA PLN UPT PALEMBANG
# =========================================================================
# Masukkan connection string MongoDB Atlas Anda di bawah ini:
# Contoh Atlas Cloud:
# MONGO_URI=mongodb+srv://admin:Password123@cluster0.abcde.mongodb.net/trs_monitoring?retryWrites=true&w=majority
# Contoh MongoDB Lokal:
# MONGO_URI=mongodb://localhost:27017/trs_monitoring

MONGO_URI=
PORT=8080
DEFAULT_SUPERVISOR_PIN=1234
